# Конфігурація isort — інструмента для автоматичного сортування
# та форматування import-ів у Python-файлах.
# Тут визначаємо власні групи імпортів та правила їх форматування.

[isort]
known_django = django
known_rest = rest_framework
known_apps = apps
# Визначаємо порядок секцій, у якому isort буде розташовувати імпорти.
# FUTURE      — імпорти з __future__
# STDLIB      — стандартна бібліотека Python
# DJANGO      — Django
# REST        — Django REST Framework
# FIRSTPARTY  — власні модулі першої сторони
# THIRDPARTY  — сторонні бібліотеки
# APPS        — локальні застосунки проєкту
# LOCALFOLDER — локальні імпорти з поточної папки
sections = FUTURE,STDLIB,DJANGO,REST,FIRSTPARTY,THIRDPARTY,APPS,LOCALFOLDER
# Визначає стиль перенесення імпортів на декілька рядків.
multi_line_output = 3
# Додаємо кому після останнього елемента
# у багаторядкових імпортах.
include_trailing_comma = True
# Максимальна довжина одного рядка — 120 символів.
line_length = 120